<section class="about-show">

  <header class="page-header">
    <h1>About Us</h1>
  </header>

  <p class="about-description"><h5>We are a group of hardworking merchants that sells you the best items in town. Our items are unique but they sure will make your moneys worth!<h5></p>
  <div>
    <iframe class="gif" src="https://giphy.com/embed/E7KpCs9NhJiRq"></iframe>
    </iframe>
  </div>


</section>

